services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-GA-ubuntu-16.04
    environment:
      SA_PASSWORD: "SqlServer2019!"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
  mssqltools:
    image: mcr.microsoft.com/mssql-tools
    depends_on:
      - sqlserver
    volumes:
      - ./BaseGeografica.sql:/tmp/BaseGeografica.sql
      - ./init-basegeografica.sh:/tmp/init-basegeografica.sh
    command: /bin/bash ./tmp/init-basegeografica.sh